* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  height: 100vh;
}

.container {
  height: 100vh;
  margin-top: 5px;
  margin-right: 10px;
}
.hidden {
  display: none !important;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 80%;
}

@media (max-width: 900px) {
  .main {
    display: flex;
    height: max-content;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo img {
  width: 68px;
  height: 68px;
  border-radius: 20%;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

ul {
  list-style: none;
}

.logo {
  border-radius: 250px;
}

.btn {
  border: none;
  font-weight: 900;
  line-height: 1;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 16px;
  padding: 16px 20px 12px;
  background: linear-gradient(
    to bottom,
    rgba(63, 63, 63, 1) 5%,
    rgb(96, 95, 95) 50%,
    rgba(107, 107, 107, 1) 75%
  );
  color: black;
  color: inherit;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  height: 100%;
  width: 20%;
}
.btn-sidebar {
  width: 50%;
  margin-top: 15px;
  transition: 2s;
}

.newtask {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.btn:hover {
  transform: translateY(5px) translateX(-2px) scale(95%);
}
.tasklist {
  float: top;
  margin-top: 25px;
}

.tasks {
  text-align: center;
  padding: 16px 20px 12px;
}
.taskform {
  display: flex;
  margin-left: 25;
  flex-direction: column;
  align-items: left;
}
.taskform input {
  width: 50%;
  height: 40px;
  background-color: #78716c;
  border: none;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 7px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}
.add-btn {
  margin-top: 0px;
  width: 100px;
}

.btn-large {
  font-size: 18px;
  padding: 20px 32px 17px;
}

.btn-large:hover {
  transform: scale(125%) rotate(0.5deg);
}
