* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e4c;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  height: 100vh;
}

.container {
  height: 100vh;
  margin-top: 0px;
  margin-right: 0px;
}
.hidden {
  display: none !important;
}

/* MAIN LAYOUT */
#root {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 80%;
}

/* ELEMENTS */

.description {
  margin-left: 5px;
  border-style: double;
  border-color: #5e5e5e;
  border-width: 10px;
  min-height: 60%;
  min-width: 80%;
  align-self: flex-center;
  background: rgb(52, 52, 52);
  overflow-wrap: break-word;
}

.taskcontainer {
  flex: 1;
}
.tasktitle {
  margin-left: 5px;

  background: rgb(52, 52, 52);
  height: 40px;
  border-style: solid;
  border-color: #5e5e5e;
  overflow-wrap: break-word;
}
.tasklist {
  width: 50%;
  min-width: 300px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  width: 100%;
  height: 100%;
  margin: 10px;
  display: inherit;
  flex-direction: row;
  flex: 1 1 auto;
  min-width: 200px;
  min-height: 100px;
}

.finish {
  background: white;
  width: 20px;
  height: 20px;
  align-self: flex-start;
  flex-shrink: 0;
  gap: 8px;
  border: none;
  border-radius: 20px;
}
.finish:hover {
  background: whitesmoke;
  transform: scale(110%);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo img {
  width: 68px;
  height: 68px;
  border-radius: 20%;
}
.username {
  font-size: 24px;
  color: green;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 6px;
}

ul {
  list-style: none;
}

.logo {
  border-radius: 250px;
}

.btn {
  border: none;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 12px;
  padding: 16px 20px 12px;
  background: linear-gradient(
    to bottom,
    rgba(63, 63, 63, 1) 5%,
    rgb(96, 95, 95) 50%,
    rgba(107, 107, 107, 1) 75%
  );
  color: black;
  color: inherit;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.sidebar {
  top: 0;
  flex: 1 1 auto;
  float: left;
  display: flex;
  flex-direction: column;
  background: #1c1a3b;
  height: 100vh;
  min-width: 10%;
  max-width: 366px;
}
.btn-sidebar {
  margin-top: 15px;
  transition: 2s;
}

.newtask {
  grid-column: 1;
  grid-row: 1;
}

.btn:hover {
  transform: translateY(5px) translateX(-2px) scale(95%);
}
.tasklist {
  float: top;
  margin-top: 25px;
}

.tasks {
  text-align: center;
  padding: 16px 20px 12px;
}
.taskform {
  width: 50%;
  min-width: 300px;
  min-height: 50px;
  display: flex;
  margin-top: 10px;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: left;
  width: auto;
}
.taskform textarea,
input {
  width: auto;
  background-color: #78716c;
  border: none;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 7px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.newdescription {
  min-height: 60px;
  height: 120px;
  max-width: 100%;
  max-height: 300px;
}
.formsubmit {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.form-btn {
  width: 100px;
  margin-top: 10px;
}

.btn-large {
  margin-top: 0px;
  font-size: 18px;
  padding: 20px 32px 17px;
}

.btn-large:hover {
  transform: scale(125%) rotate(0.5deg);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 0px;
  }

  .header {
    flex-direction: column;
    gap: 0px;
  }
}

@media only screen and (max-width: 968px) {
  .main {
    flex: 1 1 auto;
    display: flex;
    height: max-content;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
  }
  .menu-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    position: static;
    display: flex;
    flex: 1 1 auto;
    background: #1c1a3b;
    width: 100vh;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-open {
    margin-top: 0;
    width: 50%;
  }
  .btn-sidebar {
    margin-top: 5px;
    min-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    margin: 3px;
  }
  .newtask {
    display: inherit;
    flex-direction: column;
    width: inherit;
  }
  .logo {
    background: #2e2e4c;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 0;
    width: 100%;
  }
  .taskcontainer {
    max-width: 275px;
  }
}
